{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class=" col-md-6 thumbnail">
    <div id="map"  style="height: 400px;width: 400px;"></div>
    <h3>Forest Conservation</h3></div>
    <script src="js/map1.js">
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcJCX4nUeZ1v438NRDx1nhm75RAtYepYo&libraries=visualization&callback=initMap">
    </script>
    <div class="col-md-6">
    <div id="map"  style="height: 400px;width: 400px;"></div>
    <h3>Air Quality Index</h3></div><br>
    <script src="js/map.js">
    </script>
     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCAPL1zYdJCXSZ9oHvt2X93ob62hrFHj4&libraries=visualization&callback=initMap">
    </script>
    </div> 
    <p>
      <div id="chartContainer" style="height: 300px; width: 100%;">
  </p>
</div>  

{% endblock %}