{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class=" col-md-6 thumbnail">
    <div id="map"  style="height: 400px;width: 400px;"></div>
    <h3>Forest Conservation</h3></div>
    <script src="js/map1.js">
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcJCX4nUeZ1v438NRDx1nhm75RAtYepYo&libraries=visualization&callback=initMap">
    </script>
    <div class="col-md-6">
    <div id="map"  style="height: 410px;width: 400px;">
    <iframe src="http://www.danielpinero.com/aplicaciones/gen_mapa.php?region=IN&IN-AP=16.77&IN-AR=80.39&IN-AS=35.28&IN-BR=7.74&IN-CT=41.14&IN-GA=60&IN-GJ=8&IN-HR=3.5&IN-HP=26.4&IN-JK=10.14&IN-JH=29.5&IN-KA=18.9&IN-KL=46.12&IN-MP=25.15&IN-MH=16.5&IN-MN=76.1&IN-ML=77&IN-MZ=90.38&IN-NL=79&IN-OR=32.3&IN-PB=3.5&IN-RJ=4.7&IN-SK=47.3&IN-TN=18.3&IN-TG=7&IN-TR=75&IN-UT=46&IN-UP=5.96&IN-WB=19&IN-AN=81&IN-CH=15&IN-DN=43&IN-DD=8.3&IN-DL=12.2&IN-LD=84.5&IN-PY=10.5" width="550" height="400"></iframe>
    
    <h3>Air Quality Index</h3></div></div>
    </div> <br><br><br>
    <div class="row">
      <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
    <div class="row">
    <div id="chart"></div>
    <div id="dataset-picker">
    <script type="text/javascript">
      var margin = { top: 50, right: -10, bottom: 100, left: 170 },
          width = 960 - margin.left - margin.right,
          height = 430 - margin.top - margin.bottom,
          gridSize = Math.floor(width / 22),
          legendElementWidth = gridSize*2,
          buckets = 9,
          colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"], // alternatively colorbrewer.YlGnBu[9]
          days = ["heart_disease", "parasitic_disease", "respiratory_disease", "tissue_disease ", "digestive_disease", "abnormal_finding", "others"],
          times = ["1994", "1995", "1996", "1997", "1998","1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"];
          datasets = ["data.tsv", "data2.tsv"];

      var svg = d3.select("#chart").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var dayLabels = svg.selectAll(".dayLabel")
          .data(days)
          .enter().append("text")
            .text(function (d) { return d; })
            .attr("x", 0)
            .attr("y", function (d, i) { return i * gridSize; })
            .style("text-anchor", "end")
            .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
            .attr("class", function (d, i) { return ((i >= 0 && i <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis"); });

      var timeLabels = svg.selectAll(".timeLabel")
          .data(times)
          .enter().append("text")
            .text(function(d) { return d; })
            .attr("x", function(d, i) { return i * gridSize; })
            .attr("y", 0)
            .style("text-anchor", "middle")
            .attr("transform", "translate(" + gridSize / 2 + ", -6)")
            .attr("class", function(d, i) { return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis"); });

      var heatmapChart = function(tsvFile) {
        d3.tsv(tsvFile,
        function(d) {
          return {
            day: +d.day,
            hour: +d.hour,
            value: +d.value
          };
        },
        function(error, data) {
          var colorScale = d3.scale.quantile()
              .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
              .range(colors);

          var cards = svg.selectAll(".hour")
              .data(data, function(d) {return d.day+':'+d.hour;});

          cards.append("title");

          cards.enter().append("rect")
              .attr("x", function(d) { return (d.hour - 1) * gridSize; })
              .attr("y", function(d) { return (d.day - 1) * gridSize; })
              .attr("rx", 4)
              .attr("ry", 4)
              .attr("class", "hour bordered")
              .attr("width", gridSize)
              .attr("height", gridSize)
              .style("fill", colors[0]);

          cards.transition().duration(1000)
              .style("fill", function(d) { return colorScale(d.value); });

          cards.select("title").text(function(d) { return d.value; });
          
          cards.exit().remove();

          var legend = svg.selectAll(".legend")
              .data([0].concat(colorScale.quantiles()), function(d) { return d; });

          legend.enter().append("g")
              .attr("class", "legend");

          legend.append("rect")
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height)
            .attr("width", legendElementWidth)
            .attr("height", gridSize / 2)
            .style("fill", function(d, i) { return colors[i]; });

          legend.append("text")
            .attr("class", "mono")
            .text(function(d) { return "≥ " + Math.round(d); })
            .attr("x", function(d, i) { return legendElementWidth * i; })
            .attr("y", height + gridSize);

          legend.exit().remove();

        });  
      };

      heatmapChart(datasets[0]);
      
      var datasetpicker = d3.select("#dataset-picker").selectAll(".dataset-button")
        .data(datasets);

      datasetpicker.enter()
        .append("input")
        .attr("value", function(d){ return "Dataset " + d })
        .attr("type", "button")
        .attr("class", "dataset-button")
        .on("click", function(d) {
          heatmapChart(d);
        });
    </script>
  </div>
</div>  

{% endblock %}