{% extends 'base.html'%}

{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img class="img img-responsive" src="{{ url_for('static', filename = 'Figure_1.png') }}">
		<p>Predictions: Religion Based Deaths (Riots) vs % Population Litrate</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img class="img img-responsive" src="{{ url_for('static', filename = 'Figure_2.png') }}">
		<p>Predictions: Digestive Diseases vs Water Pollution</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img class="img img-responsive" src="{{ url_for('static', filename = 'Figure_3.png') }}">
		<p>Predictions: Accidents on Road vs No. of Vehicles</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img class="img img-responsive" src="{{ url_for('static', filename = 'Figure_4.png') }}">
		<p>Predictions: Forest Coverage vs Radiation</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img class="img img-responsive" src="{{ url_for('static', filename = 'Figure_5.png') }}">
		<p>Predicitons: Abnormal Findings vs Police Vehicles</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<img  class="img img-responsive" src="{{ url_for('static', filename = 'Figure_6.png') }}">
		<p>Predictions: Other Deaths vs Hospitals</p>
	</div>
</div>

{% endblock %}